@inherits GpxRunParser.Templates.ModelTemplate<List<GpxRunParser.RunInfo>>
@using System.Globalization;
<html>
	<head>
		<title>Run Statistics</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css" />
	</head>
	<body>

	<div class="container-fluid">
		
		<h1>Run Statistics</h1>

		@for (var month = (DateTime)(ViewBag.StartDate); month < (DateTime)(ViewBag.EndDate); month = month.AddMonths(1)) {
			<h2>@(CultureInfo.CurrentCulture.TextInfo.ToTitleCase(month.ToString("MMMM yyyy")))</h2>

			<p><a href="Monthly-@(month.ToString("yyyy-MM")).html">Monthly statistics</a></p>

			<table class="table table-bordered table-condensed">
				<tr>
					<th style="width:5%">Week</th>
					<th style="width:13.5714285714%">Mon</th>
					<th style="width:13.5714285714%">Tue</th>
					<th style="width:13.5714285714%">Wed</th>
					<th style="width:13.5714285714%">Thu</th>
					<th style="width:13.5714285714%">Fri</th>
					<th style="width:13.5714285714%">Sat</th>
					<th style="width:13.5714285714%">Sun</th>
				</tr>
				@{var delta = DayOfWeek.Monday - month.DayOfWeek;
				var calendar = CultureInfo.CurrentUICulture.Calendar;
				if (delta > 0) {
					delta -= 7;
				}
				for (var week = month.AddDays(delta); week.AddDays(6).Month == month.Month || week.Month == month.Month; week = week.AddDays(7)) {
					var weekNumber = calendar.GetWeekOfYear(week, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);
				<tr>
					<th>@if (Model.Any(ri => calendar.GetWeekOfYear(ri.StartTime, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday) == weekNumber && ri.StartTime.Year == week.Year)) {
						<a href='Weekly-@(week.ToString("yyyy"))-@(weekNumber.ToString("D2")).html'>@(weekNumber)</a>
					} else {
						@(weekNumber)
					}</th>
					@{DateTime day = week;
					int dayNum = 0;
					for (; dayNum < 7; dayNum++, day = day.AddDays(1)) {
						<td>
							@if (day.Month == month.Month) {
								@(day.Day)
								foreach (var run in Model.Where(ri => ri.StartTime.Date == day.Date).OrderBy(ri => ri.StartTime)) {
									<br /><a href="@(run.FileName)">@(run.DistanceInKm.ToString("N2")) km in @(run.Duration.ToString("g"))</a>
								}
							}
						</td>
					}
					}
				</tr>
				}
				}
			</table>
		}

		</div>
	</body>
</html>
